<!DOCTYPE html>
<html>
<head>
<title>Privacy Policy</title>
</head>
<body>

<h1> Privacy Policy for https://grammerly.zunamelt.com/</h1>
<p> If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at rabiyul@desss.com.</p>
<p>At https://grammerly.zunamelt.com/ we consider the privacy of our visitors to be extremely important. This privacy policy document describes in detail the types of personal information is collected and recorded by https://grammerly.zunamelt.com/ and how we use it. </p>
<p> <b>Log Files</b><br /> Like many other Web sites, https://grammerly.zunamelt.com/ makes use of log files. These files merely logs visitors to the site – usually a standard procedure for hosting companies and a part of hosting services's analytics. The information inside the log files includes internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date/time stamp, referring/exit pages, and possibly the number of clicks. This information is used to analyze trends, administer the site, track user's movement around the site, and gather demographic information. IP addresses, and other such information are not linked to any information that is personally identifiable. </p>
<p> <b>Cookies and Web Beacons</b><br />https://grammerly.zunamelt.com/ uses cookies to store information about visitors' preferences, to record user-specific information on which pages the site visitor accesses or visits, and to personalize or customize our web page content based upon visitors' browser type or other information that the visitor sends via their browser. </p>
<p><p/>
<p>We are not collecting user data. We do not and will not sell or rent user data and never have. We are just creating an internal tool for internal company usage and improving content.</p>
<b>Online Privacy Policy Only</b><br />
This privacy policy applies only to our online activities and is valid for visitors to our website and regarding information shared and/or collected there.<br />
This policy does not apply to any information collected offline or via channels other than this website.</p>
</body>
</html>


